{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Relax</title>

    <link rel="stylesheet" type="text/css" href="{% static '/css/index-style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet"> 

</head>
<body>
    <header>
        <!-- <nav id="navegation-bar">
            <ul id="ul-nav">
                <li><a class="a-nav" href="http://localhost:8000/home/" class="a-bar">Home</a></li>
                <li><a class="a-nav" href="http://localhost:8000/about/" class="a-bar">Acerca</a></li>
                <li><a class="a-nav" href="http://localhost:8000/anxiety-tips/" class="a-bar">Tips ansiedad</a></li>
                <li><a class="a-nav" href="http://localhost:8000/stats/" class="a-bar">Estadisticas</a></li>
            </ul>
        </nav> -->
    </header>

    <main>
        <section id="button-upper">
            <h1>Relax</h1>
            <p>You can relax, one small step at a time</p>

            {% if user.is_authenticated %}
            <div class="image"><a href="/user/"><img src="{% static '/images/user.png' %}" alt=""></a></div>
            {% else %}
            <div class="image"><a href="/login/"><img src="{% static '/images/user.png' %}" alt=""></a></div>
            {% endif %}

            <div class="image"><a href="/tips/"><img src="{% static '/images/tips.png' %}" alt=""></a></div>
            <div class="image"><a href="/settings/"><img src="{% static '/images/settings.png' %}"></a></div>
        </section>
        <section id="button-section">
            <section id="father-rounded-button">
                <div id="border-button"></div>
                <a id="rounded-button" href="/panic-button/"><p id="button-text"></p></a>
            </section>
        </section>
    </main>
    <!-- <footer>
        <section id="contact">
            <p>Si quieres contactanos pincha <a href="https://google.cl">aquí</a></p>
        </section>
    </footer> -->
</body>
</html>