{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relax</title>

    <link rel="stylesheet" type="text/css" href="{% static '/css/index-style.css' %}">
</head>
<body>
    <header>
        <nav id="Menu">
            <ul>
                <li>Menu</li>
                <li>Acerca</li>
                <li>Equipo</li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <p><a href = "https://www.google.cl/" id="principal-button">Boton</a></p>
        </section>
    </main>
    <footer>
        <section>
            <p>Pincha <a href="https://www.google.cl/">aquí</a> para contactarnos</p>
        </section>
    </footer>
</body>
</html>