<html>
    <head>

    </head>
    <body>
        <h1>your friend {{ request.user }} is going through a hard time, help him/her.</h1>
        <p>tips to help your friend:<br><br>-Stay with the person and remain calm.<br>
-Offer medication if the person usually takes it during an attack.<br>-Move the person to a quiet place.<br>
-Do not make assumptions about what the person needs. Ask questions.<br>-Talk to the person in short, simple sentences.<br>
-Be predictable. Avoid surprises.<br>-Help the person concentrate by asking him or her to repeat a simple but physically tiring task, such as raising the arms above the head.
<br>-Help slow the person's breathing by breathing with him or her or by counting slowly to 10.<br><br>
When a person is having a panic attack, it is helpful to tell him or her things like the following:<br>
<br>- "You can get through this."
<br>- "I'm proud of you. Good job."
<br>- "Tell me what you need now.
<br>- "Focus on your breathing. Stay in the present.
<br>- "It's not the place that's causing you discomfort; it's your thoughts." - "What you're feeling is scary, but it's not scary.
<br>-What you are feeling is frightening, but it is not dangerous.

</p>
    </body>
</html>
