{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Relax</title>

    <link rel="shortcut icon" href="{% static '/images/icono-relax.png' %}">
    <link rel="stylesheet" href="{% static '/css/newnotes-style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <!-- <img src="{% static 'images/note-icon.png' %}" alt="" id="imagen"> -->
        <h2>Write down your feelings</h2>
    </section>
    <form action="" method="POST" class="computer">
        <div class="container">
            {% csrf_token %}
            {{ form.media }}
            {{ form|safe }}
            <!-- <div class="movil"><textarea name="texto-movil" id="" cols="30" rows="10"></textarea></div> -->
            
        </div>
        <button type="submit">Upload</button>
        <p>If you do not have an account when trying to upload your note, it will simply be deleted.</p>
    </form>

    <form action="" method="POST" class="movile">
        <div class="container">
            {% csrf_token %}
            {{ forma }}
            <!-- <div class="movil"><textarea name="texto-movil" id="" cols="30" rows="10"></textarea></div> -->
            
        </div>
        <button type="submit">Upload</button>
        <p>If you do not have an account when trying to upload your note, it will simply be deleted.</p>
    </form>
    <!-- <form action="" method="POST" class="movile" id="movil">
        <div>
            {% csrf_token %}
            <textarea name="texto-movil" id="" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Upload</button>
        <p>If you do not have an account when trying to upload your note, it will simply be deleted.</p>
    </form> -->
    
</body>
</html>