{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relax</title>
</head>
<body>
    <h1>Reproductor de musica</h1>
    <div class="music-container">
        <div class="music-info">
            <!-- <h4 id="{% static '/audio/music-player_music_summer.mp3' %}"></h4> -->
            <audio src="{% static '/audio/music-player_music_summer.mp3' %}"></audio>
        </div>
    </div>
</body>
</html>