{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relax</title>

    <link rel="stylesheet" href="{% static '/css/settings-style.css' %}">
</head>
<body>
    <main>
        <img src="{% static '/images/settings-logo.png' %}" alt="">
    </main>
    <section id="button-section">
        <ul>
            <li><a href="/owndogs/">Own collection of pets</a></li>
            <li><a href="/formulario/">Emergency contacs</a></li>
            <li><a href="/howdoyoufeel/">How do you feel today?</a></li>
            <li><a href="/logout/">Cerrar sesión</a></li>
        </ul>
    </section>
</body>
</html>