{% load static %}
{% load embed_video_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relax</title>

    <link rel="stylesheet" type="text/css" href="{% static '/css/video-style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet"> 
</head>
<body>
    <section>
        <h1> Reconmended videos</h1>
        {% for elemento in video %}
        {% video elemento.video  'small' %}
        <br>
        {% endfor %}
    </section>
</body>
</html>