body, html{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
}

section{
    transform: translateY(50%);
}

div{
    align-items: center;
    width: 40%;
    margin: 0 auto;
    background-image: linear-gradient(aquamarine, #87cefa, #E6E6FA);
    border-radius: 20px;
    padding-top: 1px;
    padding-bottom: 20px;
}

h2{
    margin: 20px;
    /* margin-top: 100px; */
}

.disclaimer{
    text-align: center;
}

p label{
    margin-left: 15px;
}

button{
    margin-left: 15px;
}

input{
    border-radius: 5px;
}

select{
    border-radius: 5px;
}