body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'DM Sans', sans-serif;
    height: 100%;
}

form{
    transform: translateY(100%);
    padding: 20px 0 20px 10px ;
    width: 30%;
    margin: 0 auto;
    /* text-align: center; */
    margin-top: 2%;
    background-image: linear-gradient(aquamarine, #87cefa, #E6E6FA);
    border-radius: 20px;
}

form button{
    margin: 0 auto;
}

select, input {
    border-radius: 5px;
}