body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'DM Sans', sans-serif;
    height: 100%;
}

#button-section{
    background-color: #ffffff;
}

#button-upper{
    text-align: center;
    background-color: #ffffff;
}

h1{
    font-size: 70px;
    padding: 100px 0px 20px 0px;
    margin: 0;
    line-height: 0;
    color: black;
}

p{
    color: #bfbfbf;
    padding-bottom: 50px;
}

#father-rounded-button{ 
    padding: 1px 0px 10px 0px;
    z-index:-1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    transform: translateY(50%);
}

#rounded-button {
    width: 40vw;
    height: 40vw;
    display: block;
    background: #ffffff;
    z-index:1;
    color:azure;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    transform: translateY(-50%);
}

#rounded-button:hover{
    background-color: #e5e4e2;
}

#border-button{
    z-index:0;
    width: 48vw;
    height: 48vw;
    position: absolute;
    background: #000;
    color:azure;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: flex;
    background-image: linear-gradient(aquamarine, #87cefa, #E6E6FA);
    margin-bottom: 100px;
    transform: translateY(-50%);
}

.image{
    transform: translateX(48%);
}

@media (min-width: 700px){
    #rounded-button {
        width: 300px;
        height: 300px;
        display: block;
        background: #ffffff;
        z-index:1;
        color:azure;
        cursor: pointer;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        transform: translateY(-50%);
    }
    
    #border-button{
        z-index:0;
        width: 350px;
        height: 350px;
        position: absolute;
        background: #000;
        color:azure;
        cursor: pointer;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        display: flex;
        background-image: linear-gradient(aquamarine, #87cefa, #E6E6FA);
        margin-bottom: 100px;
        transform: translateY(-50%);
    }
}