body, html{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
}

form{
    width: 60%;
    margin: 0 auto;
    /* background-color: #bfbfbf; */
    border-radius: 5px;
    
}

section{
    display: flex;
    width: 30%;
    margin: 2% auto;
    /* margin-top: 1%; */
    margin-bottom: 2%;
}

section img{
    width: 30%;
}

section h2{
    display: block;
    margin: auto;
    color: darkslateblue;
}

.your-class{
    display: none;
}

/* .ingresp-texto input{
    width: 400px;
} */

textarea {
    width: 600px;
    height: 400px;
}