body, html{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
}

.container{
    display: flex;
    justify-content: center;
    /* background-color: #bfbfbf; */
    border-radius: 5px;
}
form{
    width: 60%;
    margin: auto;
}

label{
    display: none;
}

section{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin: 40px 0;
}

/* section img{
    height: 5%;
} */

div{
    width: 100%;
    margin: 0 auto;
}
#imagen{
    height: 100px;
    transform: translateX(550px);
}

section h2{
    display: block;
    margin: auto;
    color: darkslateblue;
}

.your-class{
    display: none;
}

/* .ingresp-texto input{
    width: 400px;
} */

textarea {
    width: 600px;
    height: 400px;
}


.movile{
    visibility: hidden !important;
}

/* on large screens, I use a different layout, so 600px are sufficient */
@media (max-width: 1000px){   
    .computer{
        visibility: hidden !important;;
    }

    .movile{
        visibility: visible !important;
        transform: translateY(-410px);
        /* width: 60%;
        margin: 0 auto;  */
        
        /* display: block;
        margin-left: auto;
        margin-right: auto; */
        
        /* position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); */
        /* transform: translateX(-80px); */
    }

    textarea{
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }
    
    div{
        display: flex;
        justify-content: center;
    }

    textarea{
        height: 400px;
        width: 700px ;
        font-size: 20px;
    }
    @media (max-width: 700px){   
        textarea{
            height: 500px;
            font-size: 30px;
        }
    }

    @media (max-width: 450px){ 
        textarea{
            height: 650px;
            font-size: 40px;
        }
    }

    @media (max-width: 300px){ 
        textarea{
            height: 800px;
            font-size: 50px;
        }
    }
}

/* table.mceLayout, textarea.tinyMCE {
    width: 100% !important;
}

@media only screen and (max-width: 600px) {
    table.mceLayout, textarea.richEditor {
       width: 600px !important;
    }
} */

