body, html{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
}

article{
    width: 95%;
    margin: 1% auto;

    /* text-align: center; */
    /* background-color: #fffff4; */
    
    border-style: solid;
    border-color: lightskyblue;
    /* border-radius: 5px; */
}

h2{
    padding: 0%;
    margin-bottom: 0%;
}

#algo{
    transform: translateY(-12px);
}

.cabecera{
    background-color: lightskyblue;
    /* border-radius: 5px; */
}

.cabecera p{
    margin: 1%;
}

.texto{
    margin-left: 1%;
}

footer{
    margin: 1%;
    text-align: right;
    padding-bottom: 1%;
}

footer a {
    background: gray;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}