body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
}

#section-button{
    text-align: center;
    list-style: none;
}

#ul-buttons{
    text-align: center;
    list-style: none;
    font-size: 25px;
}

.a-ul{
    text-decoration: none;
    /* padding: 5px; */
    color: darkslateblue;
    /* margin: 10px;
    border: 10px; */
    margin-left: 3%;
}

div li img{
    width: 25%;
}

div li{
    display: flex;
    align-items: center;
}

div{
    width: 29%;
    margin: 30px auto;
}

/*
.a-ul:hover{
    background-color: #555
}

#ul-nav{
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 20px;
    background-color: #4967ff;
    display: flex;
}

.a-nav{
    text-decoration: none;
    color: white;
    float: left;
    text-decoration: none;
    padding: 10px;
    border-radius: 3rem;
}

.a-nav:hover{
    background-color: #555;
}

.div-button{
    padding: 20px;
}

#section-button{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #4967ff;
    border-radius: 10px;
} */