body, html{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
}

form{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffbf;
    padding-bottom: 1%;
    margin-top: 1%;
    border-radius: 5px;
}

#imagen-perro{
    width: 90%;
    max-width: 400px;
}

img{
    max-width: 400px;
    max-height: 400px;
}

#happy_face{
    display: flex;
    width: 20%;
    margin: 0 auto;
    margin-top: 2%;
}

#happy_face img{
    width: 30%;
}

#happy_face h2{
    margin-left: 5%;
    color: darkslateblue;
}

#scotch{
    display: block;
    margin: auto;
    width: 10%;
    transform: translateY(30px);
} 

form p{
    width: 100%;
}

p{
    text-align: center;
}

.removelinkdefault {
    color: black;
    text-decoration: none;
}

.removelinkdefault:hover{
    color: black;
}

a{
    border-style: solid;
    border-width: 2px;
    padding: 2.2px 4px;
    border-color: black;
    /* display: none; */
    text-decoration: none;
    background-color:#F0F0F0
}

/* #scotch-div{
    width: 25%;
    margin: 0 auto;
} */

