body, html {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'DM Sans', sans-serif;
}

.container{
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 25px;
    border-radius: 5px;
    background-color: aquamarine;
}
